imagens/*-eps-converted-to.pdf
dissertacao.pdf
*.aux
*.idx
*.lof
*.log
*.lofg
*.loq
*.lot
*.synctex.gz
*.tdo
*.toc
*-eps-converted-to.pdf
*.bbl
*.blg
*.brf
*.glo
*.glsdefs
*.ist
*.sbl
*.sgl
*.vrl
*.ilg
*.ind
